/* ------ Fonts ------ */
$font-heading: "Parisienne", cursive;
$font-main: "Roboto", sans-serif; /* Regular 400, Italic 500 */

/* ------ Colors ------ */
$color-background: rgb(48, 48, 48);
$color-page: white;
