@import "./sass/imports";

body {
  background-color: $color-background;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}

.page {
  margin-bottom: 12rem;
  width: 80vw;
  min-height: 80vh;
  max-width: 1536px;
  padding-bottom: 6rem;
  background-color: $color-page;
  display: grid;
  grid-template-columns: 14rem 1fr;
  grid-template-areas: 1fr;
  gap: 17.5%;
  box-shadow: 1rem 1rem rgba(0, 0, 0, 0.2);
}

.title-wrapper-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: 270deg;
  height: 100svh;
  width: 80rem;
  margin-left: -30rem;
  position: sticky;
  top: 0;
}

.title {
  font-size: 8rem;
  font-family: $font-heading;
}

.page-wrapper {
  margin-top: 6rem;
  width: 100%;
}

.title-mobile {
  font-family: $font-heading;
  font-size: 6rem;
  margin-bottom: 4rem;
  display: none;
}

.gluten-announcement,
.allergy-announcement {
  padding-right: 12rem;
}

.gluten-announcement {
  font-weight: 800;
  font-size: 2.4rem;
}
.allergy-announcement {
  font-size: 2rem;
  margin-top: 0.5rem;
}

@media (max-width: 1300px) {
  .page {
    gap: 10%;
  }
}

@media (max-width: 1000px) {
  .page {
    gap: 6rem;
  }
}

@media (max-width: 800px) {
  .page {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0 4rem;
    width: 100%;
    margin-bottom: 0;
  }

  .page-wrapper {
    padding-bottom: 8rem;
  }

  .title-wrapper-desktop {
    display: none;
  }

  .title-mobile {
    display: block;
    font-size: 5rem;
    text-decoration: underline;
  }

  .gluten-announcement,
  .allergy-announcement {
    padding-right: 4rem;
  }
}
